ul,
ol,
li {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

:root {
  --background-prime-color: #ffffff;
  --background-second-color: #F7F7F7;
  --background-dark-color: #191c26;
  --overlay-color: rgba(25, 28, 38, 0.2);
  --text-prime-color: #303030;
  --text-second-color: #555555;
  --text-prime-color-on-dark: #ffffff;
  --text-second-color-on-dark: #9DA4BD;
  --text-third-color-on-dark: rgba(157, 164, 189, 0.6);
  --accent-color: #FF6C00;
}

body {
  background-color: var(--background-prime-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-prime-color);
}

a {
  color: inherit;
}

.section {
  padding: 84px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 130px 0;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 420px) {
  .container {
    padding: 0 31px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 55px;
  }
}

.button-burger, .mobile-menu-nav__link, .mobile-menu__tel, .social-media-mobile__link {
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.button-burger:hover, .mobile-menu-nav__link:hover, .mobile-menu__tel:hover, .social-media-mobile__link:hover, .button-burger:focus, .mobile-menu-nav__link:focus, .mobile-menu__tel:focus, .social-media-mobile__link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link-button-on-form {
  display: inline-block;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: var(--accent-color) solid 1px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  -webkit-transition: color 300ms linear, background-color 300ms linear;
  transition: color 300ms linear, background-color 300ms linear;
}

.link-button-on-form_center-position {
  display: block;
  margin: 0 auto;
  width: 163px;
}

.link-button-on-form_dark-theme {
  color: var(--text-prime-color-on-dark);
  background-color: transparent;
}

.link-button-on-form:hover, .link-button-on-form:focus {
  color: var(--text-prime-color-on-dark);
  background-color: var(--accent-color);
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.social-media__list_rotate {
  margin-bottom: -18px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.social-media__list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--text-prime-color);
}

.social-media__item:not(:last-child) {
  margin-right: 40px;
}

.social-media__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36364;
  letter-spacing: 0.2em;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.social-media__link:hover, .social-media__link:focus {
  color: var(--accent-color);
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16667;
  letter-spacing: 0.05em;
}

.section-title_dark-theme {
  color: var(--text-prime-color-on-dark);
}

@media screen and (max-width: 1279px) {
  .section-title_small {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17857;
  }
}

.over-title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-prime-color);
}

.over-title_dark-theme {
  color: var(--text-third-color-on-dark);
}

.over-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--text-third-color-on-dark);
}

.title-description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
}

.title-description_dark-theme {
  color: var(--text-second-color-on-dark);
}

@media screen and (min-width: 1280px) {
  .title-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
  }
}

.slider-wrapper {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .slick-arrow {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 40px;
  padding: 0;
  z-index: 8;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36364;
  letter-spacing: 0.1em;
  color: var(--text-third-color-on-dark);
  cursor: pointer;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.slick-arrow::after {
  content: "";
  margin-top: 8px;
  width: 63px;
  height: 1px;
  background-color: var(--text-third-color-on-dark);
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.slick-arrow:hover, .slick-arrow:focus {
  color: var(--text-prime-color-on-dark);
}

.slick-arrow:hover.slick-arrow::after, .slick-arrow:focus.slick-arrow::after {
  background-color: var(--text-prime-color-on-dark);
}

.slick-prev {
  right: 112px;
}

.slick-next {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 37px;
}

@media screen and (min-width: 1280px) {
  .slick-prev {
    right: 131px;
  }
  .slick-next {
    right: 48px;
  }
}

.slick-dots {
  position: absolute;
  z-index: 7;
  right: 31px;
  bottom: 275px;
  font-size: 0;
  text-align: right;
}

@media screen and (max-width: 419px) {
  .slick-dots {
    right: 15px;
  }
}

@media screen and (max-width: 369px) {
  .slick-dots {
    bottom: 50px;
  }
}

.slick-dots li:not(:last-child) {
  margin-bottom: 12px;
}

.slick-dots button {
  padding: 0;
  width: 8px;
  height: 2px;
  border: 0;
  cursor: pointer;
  background-color: var(--text-second-color-on-dark);
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.slick-dots button:hover, .slick-dots button:focus {
  background-color: var(--text-prime-color-on-dark);
}

.slick-active button {
  width: 17px;
  background-color: var(--text-prime-color-on-dark);
}

@media screen and (min-width: 768px) {
  .slick-dots {
    right: 36px;
    bottom: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .slick-dots {
    right: 52px;
  }
}

.body-hide {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .wrapper-for-tel-and-link-button {
    display: none;
  }
}

.header__section {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  display: block;
}

.logo {
  fill: var(--text-prime-color-on-dark);
}

.button-burger {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-prime-color-on-dark);
}

.button-burger_close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--text-prime-color);
}

.burger-btn {
  fill: currentColor;
}

.close-btn {
  fill: currentColor;
}

.mobile-menu-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 15;
  overflow: auto;
  background-color: var(--overlay-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 300ms linear, visibility 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, visibility 300ms linear, -webkit-transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, visibility 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, visibility 300ms linear, -webkit-transform 300ms linear;
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  position: absolute;
  width: 347px;
  top: 0;
  right: 0;
  padding: 48px 31px 50px 50px;
  background-color: var(--background-prime-color);
}

@media screen and (max-width: 346px) {
  .mobile-menu {
    width: 100vw;
  }
}

.mobile-menu-nav {
  margin-bottom: 64px;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38889;
  letter-spacing: 0.1em;
}

.mobile-menu__tel {
  display: block;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38889;
  letter-spacing: 0.1em;
}

.link-button-on-form_mobile-menu-margin-bottom {
  margin-bottom: 64px;
}

.social-media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-media-wrapper::before {
  position: relative;
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  top: 9px;
  margin-right: 40px;
  background-color: var(--text-prime-color);
}

.mobile-menu__social-media-mobile {
  margin: 0;
}

.social-media-mobile__item:not(:last-child) {
  margin-bottom: 24px;
}

.social-media-mobile__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35714;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
  .mobile-menu-backdrop {
    display: none;
  }
  .header__section {
    padding: 32px 0;
  }
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .logo-link {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin-right: 62px;
    margin-left: 10px;
  }
  .logo {
    fill: var(--text-prime-color);
  }
  .navigation {
    margin-right: 48px;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 24px;
  }
  .navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.1em;
    color: var(--text-prime-color-on-dark);
    -webkit-transition: color 300ms linear;
    transition: color 300ms linear;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
  .phone-number {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.1em;
    color: var(--text-prime-color-on-dark);
    -webkit-transition: color 300ms linear;
    transition: color 300ms linear;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .phone-number {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .phone-number:hover, .phone-number:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-link {
    margin-right: 69px;
    margin-left: 0;
  }
  .navigation {
    margin-right: auto;
  }
  .navigation__item:not(:last-child) {
    margin-right: 40px;
  }
  .wrapper-for-tel-and-link-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone-number {
    margin-right: 40px;
  }
}

.left-side-hero {
  display: none;
}

.right-side-hero {
  position: relative;
}

@media screen and (max-width: 767px) {
  .hero__container {
    padding: 0;
  }
}

.hero__text-content {
  position: absolute;
  z-index: 9;
  top: 208px;
}

@media screen and (max-width: 767px) {
  .hero__text-content {
    max-width: 306px;
    margin: 0 31px;
  }
}

@media screen and (max-width: 419px) {
  .hero__text-content {
    margin: 0 15px;
  }
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: 0.05em;
  color: var(--text-prime-color-on-dark);
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-side-hero {
    min-width: 0;
  }
  .hero__text-content {
    width: 349px;
    top: 280px;
    left: 70px;
  }
  .left-side-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 113px;
    padding-left: 35px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .left-side-hero {
    width: 97px;
    padding-left: 23px;
  }
  .hero__text-content {
    width: 450px;
    top: 272px;
    left: 96px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18056;
  }
}

@media screen and (max-width: 767px) {
  .about__img-block {
    display: none;
  }
}

.about__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85714;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
}

@media screen and (min-width: 768px) {
  .container__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__img-block {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1276px) {
  .about__img1 {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about__img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 64px;
  }
  .about__img1 {
    margin-right: 30px;
  }
}

.section__service {
  background-color: #111319;
  background-image: url(../images/service-img/service-bg-img-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__service {
    background-image: url(../images/service-img/service-bg-img-mobile@2x.png);
  }
}

.wrapper-list {
  margin-top: 44px;
  margin-bottom: 50px;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14286;
  letter-spacing: 0.02em;
  color: var(--text-second-color-on-dark);
}

.service__item:not(:last-child) {
  margin-bottom: 20px;
}

.service__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.service__name::after {
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 6px;
  background-color: var(--text-second-color-on-dark);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1279px) {
  .service__list:not(:last-child) {
    margin-bottom: 20px;
  }
  .wrapper-list {
    padding: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
  }
}

@media screen and (min-width: 768px) {
  .section__service {
    background-image: url(../images/service-img/service-bg-img-tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__service {
    background-image: url(../images/service-img/service-bg-img-tablet@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .service__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
  }
}

@media screen and (min-width: 1280px) {
  .section__service {
    background-image: url(../images/service-img/service-bg-img-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section__service {
    background-image: url(../images/service-img/service-bg-img-desktop@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .wrapper-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service__list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 30px 40px;
  }
  .service__list:first-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
  }
  .service__list:last-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
  }
}

.advantages__text-wrapper {
  max-width: 500px;
}

.title-description__advantages {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
}

.advantages__list {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantages__item {
  padding: 20px 10px;
  -ms-flex-preferred-size: calc((100% - 30px)/2);
      flex-basis: calc((100% - 30px)/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-second-color);
}

.advantages__item:nth-child(2n) {
  margin-top: 30px;
}

.advantages__value {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35714;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.advantages__value::after {
  content: "+";
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 8px;
  margin-left: 2px;
}

.advantages__value-text {
  max-width: 130px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36364;
}

@media screen and (min-width: 768px) {
  .container__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__list {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .container__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .advantages__list {
    width: 370px;
    margin-top: 0;
    margin-right: 130px;
  }
  .advantages__text-wrapper {
    margin-right: 70px;
  }
}

.section__our-masters {
  background-color: var(--background-second-color);
}

.section__our-masters img {
  max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our-masters__container {
    padding: 0 159px;
  }
}

.our-masters__list {
  margin-top: 44px;
}

.our-masters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .our-masters__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.our-masters__name {
  margin-bottom: 8px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38889;
  letter-spacing: 0.02em;
}

.our-masters__position {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35714;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-prime-color);
}

.social-networks__link:hover .social-networks__icon,
.social-networks__link:focus .social-networks__icon {
  fill: var(--accent-color);
}

.social-networks__icon {
  fill: var(--text-prime-color);
  -webkit-transition: fill 300ms linear;
  transition: fill 300ms linear;
}

@media screen and (min-width: 1280px) {
  .our-masters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .our-masters__item {
    width: calc((100% - 60px) / 3);
  }
}

.over-title_big-margin-bottom {
  margin-bottom: 44px;
}

.gallery__item img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .gallery__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item {
    width: calc((100% - 120px) / 4);
  }
}

.form-and-contacts {
  background-color: var(--background-dark-color);
}

.footer {
  padding: 44px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 56px 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36364;
  letter-spacing: 0.2em;
  color: var(--text-second-color-on-dark);
}
/*# sourceMappingURL=main.css.map */