.link-button-on-form {
  display: inline-block;
  padding: 12px 37px;
  box-sizing: border-box;
  border: var(--accent-color) solid 1px;
  border-radius: 25px;
  @include fonts(600, 12px, 16px);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  &_dark-theme{
    color: var(--text-prime-color-on-dark);
    background-color: transparent;
  }

  transition: color 300ms linear, background-color 300ms linear;
  &:hover,
  &:focus {
    color: var(--text-prime-color-on-dark);
    background-color: var(--accent-color);
  }
}