.over-title{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  @include fonts(600, 11px, 15px);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-prime-color);
  
  &_dark-theme{
    color: var(--text-third-color-on-dark);
  }
  
  &::before{
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--text-third-color-on-dark);
  }
}