// font-family: 'Raleway', sans-serif;
.section-title{
  font-family: 'Raleway', sans-serif;
  @include fonts(700, 42px, 49px);
  letter-spacing: 0.05em;

  &_dark-theme{
    color: var(--text-prime-color-on-dark);
  }

  &_small{
    @media screen and (max-width: 1279px) {
      @include fonts(700, 28px, 33px);
    }
  }
}