
.slider-wrapper{
  position: relative;
 }

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}


// ---------- buttons ----------
@media screen and (max-width: 767px) {
  .slick-arrow {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}
// ------------ buttons after 768px ---------
.slick-arrow{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  padding: 0;
  z-index: 8;
  border: 0;
  background-color: transparent;
  @include fonts(600, 11px, 15px);
  letter-spacing: 0.1em;
  color: var(--text-third-color-on-dark);
  cursor: pointer;

  &::after{
    content: "";
    margin-top: 8px;
    width: 63px;
    height: 1px;
    background-color: var(--text-third-color-on-dark);
    transition: background-color 300ms linear;
  }

  transition: color 300ms linear;

  &:hover,
  &:focus{
    color: var(--text-prime-color-on-dark);
    &.slick-arrow::after{
      background-color: var(--text-prime-color-on-dark);
    }
  }
}

.slick-prev{
  right: 112px;
}

.slick-next{
  align-items: flex-end;
  right: 37px;
}

@media screen and (min-width: 1280px) {
  .slick-prev {
    right: 131px;
  }

  .slick-next {
    right: 48px;
  }
}

// ---------------------------------------------------
// ----------------- dots ---------

.slick-dots{
  position: absolute;
  z-index: 7;
  right: 31px;
  bottom: 275px;
  @media screen and (max-width: 419px) {
    right: 15px;
  }
  @media screen and (max-width: 369px) {
    bottom: 50px;
  }
  
  font-size: 0;
  text-align: right;

  & li:not(:last-child){
    margin-bottom: 12px;
  }
  
  & button{
    padding: 0;
    width: 8px;
    height: 2px;
    border: 0;
    cursor: pointer;
    background-color: var(--text-second-color-on-dark);
    transition: background-color 300ms linear;

    &:hover,
    &:focus{
      background-color: var(--text-prime-color-on-dark);
    }
  }
}

.slick-active button{
  width: 17px;
  background-color: var(--text-prime-color-on-dark);
}

@media screen and (min-width: 768px) {
  .slick-dots{
    right: 36px;
    bottom: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .slick-dots {
    right: 52px;
  }
}

// -----------------------------------------------