:root{
  --background-prime-color: #ffffff;
  --background-second-color: #F7F7F7;
  --overlay-color: rgba(25, 28, 38, 0.2);
  --text-prime-color: #303030;
  --text-second-color: #555555;
  --text-prime-color-on-dark: #ffffff;
  --text-second-color-on-dark: #9DA4BD;
  --accent-color: #FF6C00;
}