// fonts
$base-font: 'Open Sans', sans-serif;
$title-font: 'Raleway', sans-serif;

// colors
$prime-color-text: #555555;
$logo-color: #303030;
$secondary-color-text: #303030;
$accent-color: #FF6C00;
$on-dark-bg-color: #ffffff;