.form-and-contacts {
  background-color: var(--background-dark-color);
}

.appointment-form {
  margin-top: 44px;
}

.appointment-form__input {
  width: 100%;
  margin-bottom: 44px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px rgba(157, 164, 189, 0.4) solid;
  outline: none;
  background-color: var(--background-dark-color);
  color: var(--text-prime-color-on-dark);
  @include fonts(400, 14px, 18px);
  transition: border-color 300ms linear;

  &::placeholder {
    @include fonts(600, 11px, 15px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color 300ms linear;
  }

  &:hover,
  &:focus {
    border-color: var(--text-prime-color-on-dark);

    &::placeholder {
      color: var(--text-prime-color-on-dark);
    }
  }
}

.appointment-form__textarea {
  width: 100%;
  height: 80px;
  resize: none;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px rgba(157, 164, 189, 0.4) solid;
  outline: none;
  background-color: var(--background-dark-color);
  color: var(--text-prime-color-on-dark);
  @include fonts(400, 14px, 18px);
  transition: border-color 300ms linear;

  &::placeholder {
    @include fonts(600, 11px, 15px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color 300ms linear;
  }

  &:hover,
  &:focus {
    border-color: var(--text-prime-color-on-dark);

    &::placeholder {
      color: var(--text-prime-color-on-dark);
    }
  }
}

.appointment-form button {
  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .appointment-form__input {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .form__section {
    margin-right: 143px;
  }
  .appointment-form {
    width: 560px;
  }

  .appointment-form__input {
    width: 265px;
  }

  .appointment-form__textarea {
    width: 560px;
  }
}
// -------------------------------- contacts --------------------------

.contacts__section {
  background-image: url(../images/contacts-bg/mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__list {
  margin-top: 40px;
  margin-bottom: 44px;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-second-color-on-dark);
  @include fonts(400, 18px, 30px);
  letter-spacing: 0.02em;
  transition: color 300ms linear;

  &:hover,
  &:focus {
    color: var(--text-prime-color-on-dark);

    & > .contacts__icon {
      stroke: var(--text-prime-color-on-dark);
    }
  }
}

.contacts__icon {
  flex-shrink: 0;
  margin-right: 16px;
  stroke: var(--text-second-color-on-dark);
  transition: stroke 300ms linear;
}

.work-time {
  color: var(--text-second-color-on-dark);
  @include fonts(400, 18px, 30px);
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__container {
    display: flex;
    align-items: center;
  }
  .contacts__list {
    margin-right: 90px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__section {
    background-image: url(../images/contacts-bg/tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contacts__item {
    width: 272px;
  }
}

@media screen and (min-width: 1280px) {
  .bgcolor {
    background-color: var(--background-dark-color);
  }
  .contacts__section {
    background-image: none;
  }

  .contacts__list {
    margin-bottom: 70px;
  }

  .form__container,
  .contacts__container {
    padding: 0;
    width: auto;
  }

  .form-and-contacts {
    width: 1280px;
    padding: 0 55px;
    margin: 0 auto;
    display: flex;
    background-image: url(../images/contacts-bg/desktop.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
